<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="hippodrome" packages="">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" fileName="${basePath}/hippodrome.log" filePattern="${basePath}/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %-5p %c{1}: %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7">
                <Delete basePath="${basePath}" maxDepth="7">
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>